# dependencies
node_modules/
.pnpm-store/

# build
dist/
.next/
.turbo/
out/

# env
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# testing
coverage/

# prisma
apps/api/prisma/migrations/**/migration_lock.toml

# debug
npm-debug.log*
pnpm-debug.log*
